<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadro de Mando Hospitalario</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Incluye FullCalendar CSS -->
<link href="https://unpkg.com/@fullcalendar/core@5.10.1/main.min.css" rel="stylesheet">
<link href="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.min.css" rel="stylesheet">
<!-- Incluye FullCalendar JS -->
<script src="https://unpkg.com/@fullcalendar/core@5.10.1/main.min.js"></script>
<script src="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.min.js"></script>
    <link rel="shorcut icon" type="image/x-icon" href="public/images/favicon.ico"> <!--Para el icono de la pagina web-->
    <link rel="stylesheet" href="public/css/cuadro_mando_medico.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">

    <!-- QRCode.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcode-generator/1.4.4/qrcode.min.js"></script>

<!-- jsPDF -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</head>
<body>
    <div class="container">
        <header>
            <div class="logo-container">
                <img src="public/images/logo-CRIT-Hidalgo-removebg-preview1.png" alt="Logo CRIT Hidalgo" class="logo">
            </div>
            <div class="header-title">
                <h1>Panel de Control Médico</h1>
            </div>
        </header>
        
        <div class="main-content">
            <nav id="sidebar" class="sidebar">
                <button class="close-btn" style="border: none; background: none;">&times;</button>
                <div class="profile-container">
                    <img id="profile-picture" src="public/images/Profile-Avatar-PNG.png" alt="Profile Picture" class="profile-picture">
                    <p id="user-name">Nombre del Usuario</p>
                </div>
                <div class="dropdown-content">
                    <button class="tab-button" data-tab="personal"><i class="fa fa-user"></i> Datos Personales</button>
                    <button class="tab-button" data-tab="receta"><i class="fa fa-receipt"></i> Receta Médica</button>
                    <button class="tab-button" data-tab="citas"><i class="fa fa-calendar-check"></i> Citas Médicas y Agenda</button>
                    <button class="tab-button" data-tab="plan-tratamiento"><i class="fa fa-clipboard-list"></i> Plan de Tratamiento</button>
                    <button class="tab-button" id="logout-button"><i class="fa fa-sign-out-alt"></i> Cerrar Sesión</button>
                </div>
            </nav>

            <div class="content">
                <button id="open-sidebar" class="open-btn"><i class="fa fa-bars"></i> Menu</button>
                <div id="content-sections">
                    <!-- Sección de Citas Médicas y Agenda -->
                    <div id="citas-seccion" class="content-section">
                        <h2>Citas Médicas y Agenda</h2>
                        <div class="agenda-container">
                            <!-- Formulario para agregar citas -->
                            <form id="add-cita-form">
                                <label for="fecha">Fecha:</label>
                                <input type="date" id="fecha" name="fecha" required>
                                <label for="hora">Hora:</label>
                                <input type="time" id="hora" name="hora" required>
                                <label for="paciente">Paciente:</label>
                                <input type="text" id="paciente" name="paciente" required>
                                <label for="descripcion">Descripción:</label>
                                <input type="text" id="descripcion" name="descripcion" required>
                                <button type="submit">Agregar Cita</button>
                            </form>

                            <!-- Tabla de Citas Médicas -->
                            <table id="agenda-table" class="agenda-table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Paciente</th>
                                        <th>Descripción</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Las citas se agregarán aquí dinámicamente -->
                                </tbody>
                            </table>

                            <!-- Calendario -->
                            <div id="calendar"></div>
                        </div>
                    </div>
                    <!-- Otras secciones pueden ir aquí -->
                    <div id="receta-seccion" class="content-section">
                        <h2>Receta Médica</h2>
                        <div class="receta-container">
                            <div class="container">  
                                <input type="text" id="r_nombre_paciente" class="Entradas">
                                <input type="text" id="r_numero_expediente_paciente" class="Entradas">
                                <input type="text" id="r_edad_paciente" class="Entradas">
                                <input type="text" id="r_peso_paciente" class="Entradas">
                                <input type="text" id="r_diagnostico_paciente" class="Entradas">
                                <input type="text" id="r_nacimiento_paciente" class="Entradas">
                                <input type="text" id="r_domicilio_paciente" class="Entradas">
                                <select id="r_menu_doctor" class="Entradas"></select>    
                                <input type="text" id="r_nombre_medico" class="Entradas">
                                <input type="text" id="r_cedula_medico" class="Entradas">
                                <input type="text" id="r_especialidad_medico" class="Entradas">
                                <input type="text" id="r_egresado_medico" class="Entradas">
                                <textarea id="r_especificaciones" class="r_especificaciones"></textarea>

                                <div id="r_fecha"> </div>
                                <button id="r_boton_fecha" class="button"> Fecha </button>
                                <button id="r_boton_pdf" class="button"> Generar PDF </button>
                                <div id="r_calendar"></div>
                            </div>      
                        </div>    
                    </div>  
                    
                    <!-- Otra seccion-->
                    <div id="receta-seccion" class="content-section">

                    </div>



                    <!-- Otra seccion-->    
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/core@5.10.1/main.min.js"></script>
    <script src="https://unpkg.com/@fullcalendar/daygrid@5.10.1/main.min.js"></script>
    <script src="public/js/cuadro_mando_medico.js"></script>
    

</body>
</html>