/* Estilos generales */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3e5f5; /* Morado claro */
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff; /* Blanco para el encabezado */
    padding: 15px 30px;
    border-bottom: 3px solid #5c1d86; /* Amarillo brillante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header-title {
    margin-left: 20px;
}

.header-title h1 {
    margin: 0;
    font-size: 24px;
    color: #5c1d86; /* Amarillo brillante para el texto */
    /*text-shadow: 3px 3px 6px #4a148c, 0 0 25px #4a148c, 0 0 5px #4a148c;*/ /* Sombra morada */
}
.logo {
    height: 150px;
    margin-right: 20px;
    animation: scaleUpDown 1s ease-in-out infinite;
}

@keyframes scaleUpDown {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.main-content {
    display: flex;
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    left: -250px; /* Inicialmente fuera de vista */
    top: 0;
    background-color: #9c27b0; /* Morado */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.sidebar.show {
    left: 0; /* Mueve el menú a la vista */
}

.profile-container {
    text-align: center;
    padding: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

#user-name {
    color: #fff;
    font-size: 18px;
    margin: 0;
}

.sidebar .tab-button {
    display: block;
    padding: 15px 20px;
    text-align: left;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    transition: 0.3s;
    border-radius: 5px; /* Bordes redondeados */
}

.sidebar .tab-button:hover {
    background-color: #ab47bc; /* Morado claro al pasar el ratón */
    color: #000; /* Color del texto al pasar el ratón */
}

.sidebar .close-btn {
    font-size: 36px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;
}

.sidebar .close-btn:hover {
    color: #ab47bc; /* Morado claro al pasar el ratón */
}

.open-btn {
    font-size: 20px;
    cursor: pointer;
    background-color: #9c27b0; /* Morado para el botón */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: background-color 0.3s;
}

.open-btn:hover {
    background-color: #ab47bc; /* Morado claro al pasar el ratón */
}

/* Estilos para el contenido de secciones */
.content-section {
    display: none; /* Ocultar por defecto todas las secciones */
    padding: 20px;
    background-color: #fff; /* Blanco para el fondo de las secciones */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.content-section h2 {
    color: #4a148c; /* Morado oscuro para los encabezados */
    font-size: 28px;
    margin-bottom: 15px;
}

.agenda-container {
    /* Estilos específicos para la agenda */
}

/* Estilos para botones activos */
.tab-button.active {
    background-color: #ffeb3b; /* Amarillo brillante al hacer clic */
    color: #000; /* Color del texto al hacer clic */
    font-weight: bold;
}

/* Estilos para el formulario de citas */
#add-cita-form {
    margin-bottom: 20px;
}

#add-cita-form label {
    display: block;
    margin: 5px 0;
}

#add-cita-form input {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#add-cita-form button {
    background-color: #9c27b0; /* Morado para el botón */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#add-cita-form button:hover {
    background-color: #ab47bc; /* Morado claro al pasar el ratón */
}

/* Estilos para el botón de eliminar */
.delete-btn {
    background-color: #e53935; /* Rojo para el botón de eliminar */
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c62828; /* Rojo oscuro al pasar el ratón */
}


label {
    margin-top: 10px;
    text-align: left;
}


.input_formm{
    padding: 8px;
    margin-top: 5px;
    border-color: black;
    border-radius: 5px;
    outline: none;
    display: block;
    text-align: center;
    width: 150px;
    
}

.rm_boton{
    margin-top: 20px;
    padding: 10px;
    background-color: #ab47bc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.rm_boton:hover {
    background-color:#9c27b0;
}

.rm_t_tabla
{
    padding: 10px;
    border: 1px solid #ffff;
    text-align: center;
}

/*Tablas de Pacientes y Medicos*/


.rm_tabla {
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-collapse: collapse;
    color: #333; /* Cambiado a un tono más oscuro para mayor contraste */
    border-radius: 10px; /* Esquinas curveadas */
    overflow: hidden; 
    text-align: center;
}

th, td{
    padding: 10px 20px;
    width: 50px;
}
.rm_tabla th {
    background-color: #FFF176; /* Amarillo pastel */
    color: #333; /* Color de texto oscuro */
    text-align: center;
    padding: 10px;
}

.rm_tabla td {
    padding: 0; /*Sin margen interno*/
    text-align: center; /* Texto centrado */
    color: #333; /* Color de texto oscuro */
    
}

.rm_tabla tr {
    background-color: #fff; /* Filas blancas */
    transition: all 0.3s ease;
}

.rm_tabla tr:hover {
    background-color: #E1BEE7; /* Morado suave al pasar el mouse */
    transform: scale(1.05);
}

.rm_tabla .btn {
    background-color: #9c27b0; /* Botones morados */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.rm_tabla .btn:hover {
    background-color: #7b1fa2; /* Morado más oscuro al pasar el mouse */
}

.btn-modificar_paciente, .btn-eliminar_paciente{
    background-color: #9c27b0; /* Botones morados */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}




#rm_tabla td:nth-child(2) {
    width: 400px; /* Para hacer mas grande la tabla de Nombre */
}


/*Hasta aqui esas tablas*/
.registro_medico-container{
    display: flex; /* Flexbox para alinear formulario y tabla */
    gap: 40px; /* Espacio entre formulario y tabla */
    align-items: flex-start; /* Alinea en la parte superior */
    justify-content: center; /* Centra el contenido dentro del contenedor */
}

.formulario_medico {
    width: 100%;
    padding: 20px;
    background: #fff;
    border-radius: 6px 6px 0 0; /* Corregido: elimina el doble dos puntos y añade el valor correcto para las esquinas */
}

#tabla-validaciones thead th {
    visibility: visible; /* Asegúrate de que los encabezados sean visibles */
}


#tabla-validaciones td:nth-child(2) {
    width: 400px; /* Para hacer mas grande la tabla de Nombre */
}

/* Estilos para la celda que contiene los botones */
.table-actions {
    text-align: center; /* Centra los botones en la celda */
}

/* Estilos para los botones de acción */
.btn-aceptar, .btn-rechazar {
    display: flex; /* Muestra los botones en línea horizontal */
    background-color: #4caf50; /* Verde para aceptar */
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2px; /* Espacio entre botones */
}

.btn-aceptar:hover {
    background-color: #45a049;
}

.btn-rechazar {
    background-color: #f44336; /* Rojo para rechazar */
}

.btn-rechazar:hover {
    background-color: #e53935;
}

