/* Estilos generales */
* {
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho y alto total de los elementos */
}

body {
    font-family: 'Arial', sans-serif; /* Fuente utilizada para el texto */
    margin: 0; /* Elimina el margen por defecto del cuerpo */
    margin-top: 20px; /* Margen superior añadido */
    padding: 0; /* Elimina el padding por defecto del cuerpo */
    background-color: #f8f9fa; /* Color de fondo claro para toda la página */
}

.container {
    width: 100%; /* El contenedor ocupará el 100% del ancho disponible */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    padding: 20px; /* Espaciado interno del contenedor */
}

header {
    display: flex; /* Usa flexbox para organizar los elementos dentro del header */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    background-color: #fff; /* Color de fondo blanco para el header */
    padding: 15px 30px; /* Espaciado interno en el header */
    border-bottom: 3px solid #8e44ad; /* Borde inferior morado para el header */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para el header */
}

/* Define una animación llamada 'scaleUpDown' */
@keyframes scaleUpDown {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Estilo aplicado al elemento con la clase 'logo' */
.logo {
    height: 150px; /* Define la altura del logo como 150px */
    margin-right: 20px; /* Espacio a la derecha del logo */
    animation: scaleUpDown 1s ease-in-out infinite; /* Aplica la animación 'scaleUpDown' */
}

header h1 {
    margin: 0; /* Elimina el margen del título */
    color: #8e44ad; /* Color del texto del título (morado) */
}

/* Estilo para los botones de modificación y guardar */
#save-budget:hover {
    background-color: #2ecc71; /* Color de fondo verde más claro al pasar el cursor */
}

button {
    background-color: #8e44ad; /* Color de fondo del botón (morado) */
    color: #fff; /* Color del texto del botón (blanco) */
    padding: 10px 20px; /* Espaciado interno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    margin: 10px 0; /* Margen superior e inferior del botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

button:hover {
    background-color: #732d91; /* Color de fondo morado oscuro cuando se pasa el cursor */
}

.main-content {
    display: flex; /* Usa flexbox para organizar los elementos dentro de .main-content */
}

/* Sidebar styles */
.sidebar {
    width: 250px; /* Ancho del menú lateral */
    height: 100%; /* Altura completa del menú lateral */
    position: fixed; /* Posiciona el menú lateral de manera fija */
    left: -250px; /* Inicialmente oculta el menú lateral fuera del borde izquierdo */
    top: 0; /* Alinea el menú lateral al borde superior */
    background-color: #8e44ad; /* Color de fondo morado para el menú lateral */
    overflow-x: hidden; /* Oculta el desbordamiento horizontal */
    transition: 0.5s; /* Transición suave para el desplazamiento del menú lateral */
    padding-top: 60px; /* Espaciado superior para el contenido del menú lateral */
    z-index: 1; /* Asegura que el menú lateral esté por encima de otros elementos */
}

.sidebar .close-btn {
    position: absolute; /* Posiciona el botón de cierre de manera absoluta dentro del menú lateral */
    top: 10px; /* Alinea el botón 10px desde el borde superior */
    right: 25px; /* Alinea el botón 25px desde el borde derecho */
    font-size: 36px; /* Tamaño de la fuente del botón de cierre */
    margin-left: 50px; /* Espacio a la izquierda del botón */
}

.sidebar button {
    display: block; /* Muestra los botones como bloques */
    padding: 20px 30px; /* Espaciado interno de los botones */
    text-align: left; /* Alinea el texto a la izquierda */
    background: none; /* Elimina el fondo de los botones */
    border: none; /* Elimina el borde de los botones */
    color: #fff; /* Color del texto de los botones (blanco) */
    font-size: 18px; /* Tamaño de la fuente de los botones */
    width: 100%; /* Ancho completo de los botones */
    text-decoration: none; /* Elimina la decoración del texto en los botones */
    transition: 0.3s; /* Transición suave para el fondo de los botones */
}

.sidebar button:hover {
    background-color: #732d91; /* Color de fondo morado oscuro al pasar el cursor sobre el botón */
}

.open-btn {
    font-size: 20px; /* Tamaño de la fuente del botón para abrir el menú lateral */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    background-color: #8e44ad; /* Color de fondo morado para el botón */
    color: white; /* Color del texto del botón (blanco) */
    padding: 10px 15px; /* Espaciado interno del botón */
    border: none; /* Elimina el borde del botón */
    border-radius: 5px; /* Bordes redondeados del botón */
    position: absolute; /* Posiciona el botón de manera absoluta */
    top: 20px; /* Alinea el botón 20px desde el borde superior */
    left: 20px; /* Alinea el botón 20px desde el borde izquierdo */
    transition: 0.3s; /* Transición suave para el fondo del botón */
}

.open-btn:hover {
    background-color: #732d91; /* Color de fondo morado oscuro al pasar el cursor sobre el botón */
}

#main {
    transition: margin-left 0.5s; /* Transición suave para el margen izquierdo del contenido principal */
    padding: 20px; /* Espaciado interno del contenido principal */
    width: 100%; /* Ancho completo del contenido principal */
    margin-left: 0; /* Margen izquierdo inicial del contenido principal */
}

.main-content {
    margin-left: 250px; /* Desplaza el contenido principal para hacer espacio para el menú lateral */
}

.main-content.hidden {
    margin-left: 0; /* Restaura el margen izquierdo del contenido principal cuando el menú lateral está oculto */
}

.hide-sidebar {
    display: none; /* Oculta el menú lateral */
}

input, textarea {
    width: 100%; /* Ancho completo de los campos de entrada */
    padding: 10px; /* Espaciado interno de los campos de entrada */
    border: 1px solid #ddd; /* Borde ligero de los campos de entrada */
    border-radius: 5px; /* Bordes redondeados de los campos de entrada */
    font-size: 16px; /* Tamaño de la fuente de los campos de entrada */
    color: #333; /* Color del texto de los campos de entrada (gris oscuro) */
    margin-bottom: 10px; /* Margen inferior de los campos de entrada */
}

input:focus, textarea:focus {
    outline: none; /* Elimina el borde azul por defecto al enfocar */
    border-color: #8e44ad; /* Borde morado al enfocar */
}

label {
    font-weight: bold; /* Hace el texto de las etiquetas en negrita */
    color: #333; /* Color del texto de las etiquetas (gris oscuro) */
    display: block; /* Muestra las etiquetas como bloques */
    margin-bottom: 5px; /* Margen inferior de las etiquetas */
}

/* Estilo para los select (listas desplegables) */
select {
    width: 100%; /* Ancho completo de los select */
    padding: 10px; /* Espaciado interno de los select */
    border: 1px solid #ddd; /* Borde ligero de los select */
    border-radius: 5px; /* Bordes redondeados de los select */
    font-size: 16px; /* Tamaño de la fuente de los select */
    color: #333; /* Color del texto de los select (gris oscuro) */
    margin-bottom: 10px; /* Margen inferior de los select */
}

select:focus {
    outline: none; /* Elimina el borde azul por defecto al enfocar */
    border-color: #8e44ad; /* Borde morado al enfocar */
}

/* Estilo para los botones de búsqueda */
#search-buttons {
    display: flex; /* Usa flexbox para organizar los botones */
    gap: 10px; /* Espacio entre los botones */
}

#search-buttons button {
    background-color: #8e44ad; /* Color de fondo morado para los botones */
    color: white; /* Color del texto de los botones (blanco) */
    padding: 10px 20px; /* Espaciado interno de los botones */
    border: none; /* Elimina el borde de los botones */
    border-radius: 5px; /* Bordes redondeados de los botones */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo de los botones */
}

#search-buttons button:hover {
    background-color: #732d91; /* Color de fondo morado oscuro al pasar el cursor sobre el botón */
}

/* Estilo para las tablas */
table {
    width: 100%; /* Ancho completo de las tablas */
    border-collapse: collapse; /* Colapsa los bordes de las tablas */
    margin: 20px 0; /* Margen superior e inferior de las tablas */
}

th, td {
    border: 1px solid #ddd; /* Borde ligero de las celdas de las tablas */
    padding: 10px; /* Espaciado interno de las celdas */
    text-align: left; /* Alinea el texto a la izquierda en las celdas */
}

th {
    background-color: #8e44ad; /* Color de fondo morado para las celdas de encabezado */
    color: white; /* Color del texto de las celdas de encabezado (blanco) */
}

/* Estilo para el mensaje de éxito */
#success-message {
    display: none; /* Oculta el mensaje de éxito por defecto */
    color: green; /* Color del texto del mensaje de éxito (verde) */
    font-weight: bold; /* Hace el texto del mensaje de éxito en negrita */
    margin-top: 20px; /* Margen superior del mensaje de éxito */
}

/* Estilo para la barra de leyenda */
.legend-container {
    margin-top: 20px; /* Margen superior de la barra de leyenda */
}

.legend-items {
    display: flex; /* Usa flexbox para organizar los elementos de la leyenda */
    gap: 15px; /* Espacio entre los elementos de la leyenda */
}

.legend-item {
    display: flex; /* Usa flexbox para organizar los elementos dentro de cada item */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
}

.legend-icon {
    width: 20px; /* Ancho de los iconos de la leyenda */
    height: 20px; /* Altura de los iconos de la leyenda */
    border-radius: 50%; /* Bordes redondeados para hacer los iconos circulares */
    margin-right: 10px; /* Espacio a la derecha de los iconos */
}

.legend-item .icon-1 {
    background-color: #f39c12; /* Color de fondo para el icono 1 (amarillo) */
}

.legend-item .icon-2 {
    background-color: #e67e22; /* Color de fondo para el icono 2 (naranja) */
}

.legend-item .icon-3 {
    background-color: #2ecc71; /* Color de fondo para el icono 3 (verde) */
}

/* Estilo para el contenedor de archivo */
.archive-container {
    margin-top: 20px; /* Margen superior del contenedor de archivo */
}

/* Estilo para el contenedor del criterio de búsqueda */
#filtro-criterio {
    margin-bottom: 20px; /* Espacio inferior para el contenedor del criterio de búsqueda */
}

#filtro-criterio label {
    display: block; /* Muestra la etiqueta como bloque */
    margin-bottom: 10px; /* Margen inferior de la etiqueta */
}

/* Oculta todos los campos de búsqueda por defecto */
#buscador div {
    display: none; /* Inicialmente ocultar todos los campos */
}

/* Estilo para mostrar los campos de búsqueda cuando están activos */
#buscador div.active {
    display: block; /* Mostrar el campo de búsqueda activo */
}

/* Estilo para los campos de búsqueda */
#buscador label {
    display: block; /* Muestra las etiquetas como bloques */
    margin: 5px 0; /* Margen superior e inferior de las etiquetas */
}

#buscador input {
    margin-bottom: 10px; /* Margen inferior de los campos de entrada */
}

/* Estilo para los botones de búsqueda */
#buscador button {
    background-color: #8e44ad; /* Color de fondo morado para los botones */
    color: white; /* Color del texto de los botones (blanco) */
    padding: 10px 20px; /* Espaciado interno de los botones */
    border: none; /* Elimina el borde de los botones */
    border-radius: 5px; /* Bordes redondeados de los botones */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition: background-color 0.3s ease; /* Transición suave para el color de fondo de los botones */
}

#buscador button:hover {
    background-color: #732d91; /* Color de fondo morado oscuro al pasar el cursor sobre el botón */
}

#encabezado-presupuesto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 20px; /* Espacio entre los divs */
}

#encabezado-presupuesto div {
    border: 2px solid #ab47bc; /* Borde morado intenso */
    padding: 20px;
    border-radius: 15px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    text-align: left; /* Alineación del texto a la izquierda */
    width: 30%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transición para hover */
}

#encabezado-presupuesto div:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
    transform: translateY(-8px); /* Elevación notable en hover */
}

#encabezado-presupuesto label {
    font-weight: bold;
    font-size: 1.25em; /* Tamaño de fuente mayor */
    color: #ab47bc; /* Color morado intenso */
    display: block; /* El label ocupa toda la línea */
    margin-bottom: 10px; /* Espaciado debajo del label */
}

#encabezado-presupuesto span {
    display: block;
    margin-top: 10px;
    font-size: 1.7em; /* Tamaño de fuente grande para destacar la información */
    color: #fdd835; /* Color amarillo brillante */
}

#encabezado-presupuesto input {
    margin-top: 15px;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #fdd835; /* Borde amarillo brillante */
    font-size: 1em;
    color: #333; /* Texto oscuro */
    background-color: #f3e5f5; /* Fondo morado claro para los inputs */
    transition: border-color 0.3s ease, background-color 0.3s ease; /* Transición suave */
}

#encabezado-presupuesto input:focus {
    border-color: #ab47bc; /* Borde morado intenso en foco */
    background-color: #ffffff; /* Fondo blanco en foco */
    outline: none; /* Remueve el borde de enfoque predeterminado */
}

#encabezado-presupuesto button {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #fdd835; /* Botón amarillo brillante */
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para hover */
}

#encabezado-presupuesto button:hover {
    background-color: #fbc02d; /* Color amarillo más oscuro en hover */
    transform: scale(1.05); /* Ligera ampliación en hover */
}
.profile-section {
    text-align: center;
    padding: 10px 0;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.username {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}
